.post {
  background-color:#3a5d63;
  margin-bottom: 1.5%;
  padding: 0.5%;
  border-radius: 5px;
}
.postInfo{
  background-color: #eaf8fa;
	padding-left: 46px;
}

.postHead {
	padding-top: 1%;
}
.postHead img{
  width: 4rem;
  height: 4rem;
	border: 1px solid black;
}
.postHead h5{
  color: black;
  /*padding-top: 5%;*/
}
.postHead h5 a{
  color: white;
}

.contentPost {
  font-style: italic;
  font-size: 1.10rem;
  font-weight: 300;
  margin-bottom: 5%;
}

.imgContent{
  text-align: center;
  margin-bottom: 2%;
}
.imgPost{
  height: 15rem;
}

#score button {
  border: none;
  background-color: inherit;
  font-size: 25px;
  display: inline-block;
  text-decoration: none;
}
