.profile{
  height: 100%;
}

/* Profile sidebar */
.profile-infos {
  padding: 2%;
}

.profile-img img {
  margin: 1%;
  width: 12rem;
  height: 12rem;
  border: 2px solid black;
}

.profile-identity {
  margin-top: 20px;
}

.profile-name h2{
  color: white;
  font-weight: bold;
}

.profile-email h5{
  color: #2d6c9f;
  font-style: italic;
  margin-bottom: 15px;
}

.profile-stats {
  color: #202020;
  font-weight: bold;
  font-size: 18px;
}

.profile-btn {
  margin-top: 5%;
}

#btn_edit {
  padding: 1.25rem 2rem;
  background-color: #64a19d;
  font-size: 80%;
  font-weight: bold;
  letter-spacing: 0.15rem;
  border: 0;
}

#btn_delfriend{
  padding: 1.25rem 2rem;
  font-size: 80%;
  font-weight: bold;
  letter-spacing: 0.15rem;
  border: 0;
}

#btn_postProfile {
  padding: 1.25rem;
  background-color: #336699;
  font-size: 80%;
  font-weight: bold;
  letter-spacing: 0.15rem;
  border: 0;
}

#btn_edit:hover,
#btn_edit:active{
  background-color: #64a19d;
  color: black;
  border: inherit;
}
#btn_postProfile:hover,
#btn_postProfile:active {
  /*border: 1px solid black;*/
  color: black;
  border: inherit;
}

.profile-others{
  margin-top: 5%;
  padding: 0.5%;
  /*background-color: #dcdcbc;*/
  height: 100%;
}
.profile-others h4{
  color: black;
}

.profile-subscriptions{
  border-right: 1px solid black;
}

.profile-subscriptions,
.profile-readers {
  margin-left: 1%;
  min-height: 80%;
}
.subscription{
  padding-top: 2%;
  padding-bottom: 0.5%;
  border-radius: 100px;
  background-color: #4682B4;
  margin-bottom: 2%;
}
.subscription a{
  color: black;
}
.subscription img{
  width: 4rem;
  height: 4rem;
  border: 1px solid black;
}

.reader{
  padding-top: 2%;
  padding-bottom: 0.5%;
  border-radius: 100px;
  background-color: #2E8B57;
  margin-bottom: 2%;
}
.reader a{
  color: black;
}
.reader img{
  width: 4rem;
  height: 4rem;
  border: 1px solid black;
}

#btn_rm{
  position: relative;
  top: 15px;
  left: 50px;
  height: 50%;
  background-color: inherit;
  border: none;
}
#btn_rm:hover{
  background-color: #dc3545;
}

/* Profile Content */
.profile-posts{
  margin-top: 5%;
  height: 100%;
}
.profile-posts h3{
  color: black;
}

.profile-content {
  background-color: #fff;
  margin-right: 2%;
  margin-top: 2%;
  padding-top: 1.5%;
  padding-bottom: 1%;
  border-radius: 10px;
  min-height: 30rem;
}
